/*
* @Author: Marte
* @Date:   2018-05-09 21:24:23
* @Last Modified by:   Marte
* @Last Modified time: 2018-05-09 21:26:04
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
}

html,body{
    width: 100%;
    height: 100%;
    background: #333333;
}



























